body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.heading {
  color: $color-black;
  font-weight: 700;

  &-primary {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -0.1rem;

    @include respond(tab-land) {
      font-size: 6.4rem;
      line-height: 6.4rem;
    }

    @include respond(phone) {
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }

  &-secondary {
    font-size: 4rem;
    line-height: 5.2rem;

    @include respond(tab-land) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
}

.paragraph {
  color: $color-black;

  &-medium {
    font-size: 2rem;
    line-height: 3.4rem;

    @include respond(tab-land) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  &-small {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
